//-- Load external import --//
@use "abstracts/import";

//-- Load utilities --//
@use "abstracts";

//-- Reset layout --//
@use "components/reset";

//-- Add components --//
@use "components/nav";
@use "components/header";
@use "components/section";

//-- More styling --//@at-root
.main-content {
  font-family: "Times New Roman", Times, serif;
  max-width: 110rem;
  margin: 0 auto;
}

.text-grey {
  color: abstracts.$grey;
}

.text-address {
  color: abstracts.$color-address;
  font-weight: bolder;
  letter-spacing: normal;
}
